Package: com.exormeter.alarmfade
Name: AlarmFade
Depends: mobilesubstrate, preferenceloader, ws.hbang.common, firmware (>=11.0)
Version: 2.0.0
Architecture: iphoneos-arm
Description: Fades in the ringer and alert volume
Maintainer: Nils Kirchhof
Author: Nils Kirchhof
Section: Tweaks
